<?xml version="1.0"?>
<!-- Play recorded ZED and rosbag to check ZED SLAM with GPS -->
<launch>
    <arg name="svo_file"/> <!-- ZED record -->
    <arg name="bag_file"/> <!-- Other ROS topics record (including GPS) -->
    <include file="$(find zed_wrapper)/launch/zed.launch">
        <arg name="svo_file" value="$(arg svo_file)"/>
    </include>
    <node name="play" pkg="rosbag" type="play" args="$(arg bag_file)"/>
</launch>
