<?xml version="1.0"?>
<launch>    
    <arg name="logs_directory" default="$(find jetson_car)/logs"/>
    <arg name="is_log_gps" default="false"/>
    <arg name="svo_recording" default="false"/>
    <arg name="svo_recording_path" default="$(find jetson_car)/svo"/>

    <group ns="zed">
        <include file="$(find zed_wrapper)/launch/zed_camera.launch">
            <arg name="svo_recording" value="$(arg svo_recording)"/>
            <arg name="svo_recording_path" value="$(arg svo_recording_path)"/>
        </include>
    </group>
    <include file="$(find jetson_car)/launch/include/_gps_converter.launch" if="$(arg is_log_gps)"/>
    <include file="$(find jetson_car)/launch/include/_logger.launch">
        <arg name="is_publish_path" value="false"/>
        <arg name="is_log_path" value="true"/>
        <arg name="is_log_gps" value="$(arg is_log_gps)"/>
        <arg name="logs_directory" value="$(arg logs_directory)"/>   
    </include>    
</launch>
