<launch>
	<arg name="dev" default="/dev/input/js0"/>
	<arg name="is_publish_path" default="false"/>
	<arg name="is_log_path" default="true"/>
	<arg name="logs_directory" default="$(find jetson_car)/logs"/>
	<arg name="path_file"/>

    <param name="dev" value="$(arg dev)"/>
    <param name="is_publish_path" value="$(arg is_publish_path)"/>
    <param name="logs_directory" value="$(arg logs_directory)" if="$(arg is_log_path)"/>
    <param name="path_file" value="$(arg path_file)"/>

	<node name="joystick" pkg="joy" type="joy_node"/>
	<node name="path_publisher" pkg="jetson_car" type="path_pub_node.py" output="screen"/>
	<node name="odometry_logger" pkg="jetson_car" type="odometry_logger_node" output="screen"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find jetson_car)/rviz/path.rviz" />
</launch>
