<?xml version="1.0"?>
<launch>
	<!-- path publishing -->
	<arg name="is_draw_path" default="False"/>
	<arg name="path_directory" default="$(find jetson_car)/logs"/>
	<arg name="path_file" default=""/>	
	<!-- logging -->
	<arg name="is_publish_path" default="false"/>
	<arg name="is_log_path" default="false"/>
	<arg name="logs_directory" default="$(find jetson_car)/logs"/>

    <include file="$(find jetson_car)/launch/include/_path_publisher.launch" if="$(eval not is_draw_path and path_file!='')">
    	<arg name="path_file" value="$(arg path_file)"/>
    </include>
    <include file="$(find jetson_car)/launch/include/_logger.launch" if="$(eval arg('is_publish_path') or arg('is_log_path'))">
    	<arg name="is_publish_path" value="$(arg is_publish_path)"/>
    	<arg name="is_log_path" value="$(arg is_log_path)"/>
    	<arg name="logs_directory" value="$(arg logs_directory)"/>	
    </include>

	<node name="path_publisher" pkg="jetson_car" type="path_drawer_node.py" output="screen" if="$(eval is_draw_path and path_file=='')">
		<param name="path_directory" value="$(arg path_directory)"/>
	</node>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find jetson_car)/rviz/path.rviz" />
</launch>
