<?xml version="1.0"?>
<!--
    Path moving with obstacle avoidance. Quintic polinoms + LiDAR
    Jetson side:
        - Path publishing
        - Logging in frund format
        - SLAM, obstacle detection, motion planning, control
-->
<launch>
    <arg name="max_pwm" default="30"/>
    <arg name="p_gain" default="1"/>
    <arg name="radius" default="0.3"/>
    <arg name="run_now" default="true"/>
    <arg name="path_file" default=""/>
    <arg name="obstacles" default="false"/>
    <!-- logging -->
    <arg name="is_publish_path" default="false"/>
    <arg name="is_log_path" default="false"/>
    <arg name="logs_directory" default="$(find jetson_car)/logs"/>

    <!-- ZED-camera SLAM -->
    <include file="$(find zed_wrapper)/launch/zed.launch"/>

    <!-- Velodyne -->
    <group ns="velodyne">
        <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" if="$(arg obstacles)"/>
        <node pkg="tf" type="static_transform_publisher" name="zed_to_gps"  args="0 0 0 -1.57 0 0 zed_camera_center velodyne 10" if="$(arg obstacles)"/>
    </group>

    <!-- Occupancy map creation -->
    <node name="mapper" pkg="jetson_car" type="mapper_node" output="screen" if="$(arg obstacles)">
        <param name="cell_size" value="0.1"/>
        <param name="distance_threshold" value="0.25"/>
        <param name="safe_radius" value="0.4"/>
        <param name="cnt_threshold" value="1"/>
        <remap from="point_cloud" to="/velodyne/velodyne_points"/>
    </node>

    <!-- Obstacle avoidance -->
    <!--<node name="planner" pkg="jetson_car" type="motion_planner_node" output="screen" if="$(arg obstacles)"/>-->
    <node name="planner" pkg="jetson_car" type="motion_planner_node.py" output="screen" if="$(arg obstacles)"/>

    <!-- The main node - move along the path -->
    <node name="path_mover" pkg="jetson_car" type="path_mover_node.py"  output="screen">
	<param name="run_now" value="$(arg run_now)"/>
        <param name="p_gain" value="$(arg p_gain)"/>
        <param name="radius" value="$(arg radius)"/>
        <remap from="local_path" to="reference_path" unless="$(arg obstacles)"/>
    </node>

    <!-- publish path from file -->
    <include file="$(find jetson_car)/launch/include/_path_publisher.launch" if="$(eval path_file!='')">
        <arg name="path_file" value="$(arg path_file)"/>
    </include>

    <!-- logging -->
    <include file="$(find jetson_car)/launch/include/_logger.launch" if="$(eval is_publish_path or is_log_path)">
        <arg name="is_publish_path" value="$(arg is_publish_path)"/>
        <arg name="is_log_path" value="$(arg is_log_path)"/>
        <arg name="logs_directory" value="$(arg logs_directory)"/>
    </include>

    <!-- motors control and message converter -->
    <node name="motors_driver" pkg="jetson_car" type="motors_driver_node" output="screen"/>
    <node name="joy_to_motors" pkg="jetson_car" type="joy_to_motors_node.py" output="screen">
        <param name="max_pwm" value="$(arg max_pwm)"/>
    </node>
</launch>
